.fa-spin:hover {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.brand-card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  border-radius: 5px;
}

.card-tile {
  box-shadow: 0 5px 8px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 150px;
}

.card-tile:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.brand-image-tile{
    height: 150px !important;
    width: 150px !important;
}

.brand-tiles{
    margin-top: 10%;
    text-align: left;
    margin-bottom: 5%;
    display: inline-block;
    li p{
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

// Brands - Alphabet

.brands-alphabet a, .brands-alphabet:before, .brands-alphabet,
.share-icons a, .share-icons:before, .share-icons
{ background: #43b6b3; color: #333333; }

.icons-generic{
    padding: 0;
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	list-style: none;
	display: grid;
	grid-gap: 15px;
}
ul#brand-alphabet-buttons{
    @extend .icons-generic;
    margin-top: 3%;
    grid-template-columns: repeat(26,1fr);
}
ul#social-share-icons {
	@extend .icons-generic;
	margin-top: 15%;
    grid-template-columns: repeat(5,1fr);
}



ul#brand-alphabet-buttons li,
ul#social-share-icons li{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	box-sizing: border-box;
	background: transparent;
	border-radius: 12px;
	position: relative;
	overflow: hidden;
	transition: .5s;
	box-shadow: 0px 8px 16px -6px,
				0px 0px 16px -6px;
}

ul#brand-alphabet-buttons li a ,
ul#social-share-icons li a{
	display: block;
	widows: 100%;
	height: 100%;
	font-size: 2.25em;
	background: transparent;
	transition: .5s;
	animation: icon-out .5s forwards;
	animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
}

ul#brand-alphabet-buttons li:before,
ul#social-share-icons li:before{
	content: "";
	width: 90px;
	height: 90px;
	display: block;
	position: absolute;
	transform: rotate(-45deg) translate(-110%, -23px);
	z-index: -2;
	animation: back-out .5s forwards;
	animation-timing-function: cubic-bezier(0.5, -0.6, 1, 1);
}

ul#brand-alphabet-buttons li:hover a,
ul#social-share-icons li:hover a{
	animation: icon-in .5s forwards;
	animation-timing-function: cubic-bezier(0, 0, 0.4, 1.6);
}

ul#brand-alphabet-buttons li:hover:before,
ul#social-share-icons li:hover:before{
	animation: back-in .5s forwards;
	animation-timing-function: cubic-bezier(0, 0, 0.4, 1.6);
}

@keyframes back-in {
    0% { transform: rotate(-45deg) translate(-110%, -23px); }
	80% { transform: rotate(-45deg) translate(5%, -23px); }
	100% { transform: rotate(-45deg) translate(0%, -23px); }
}

@keyframes back-out {
    0% { transform: rotate(-45deg) translate(0%, -23px); }
	20% { transform: rotate(-45deg) translate(5%, -23px); }
	100% { transform: rotate(-45deg) translate(-110%, -23px); }
}

@keyframes icon-in {
    0% { font-size: 1.25em; }
	80% { color: #fff; font-size: 1.5em; }
	100% { color: #fff; font-size: 1.35em; }
}

@keyframes icon-out {
	0% { color: #fff; font-size: 1.35em; }
	20% { color: #fff; font-size: 1.5em; }
	100% { font-size: 1.25em; }
}





// Shop Terms & Conditions - accordion structure ----------------------- STARTS

.heading-primary {
  font-size:2em;
  padding:2em;
  text-align:center;
}
.accordion dl,
.accordion-list {
   //border:1px solid #ddd;
   &:after {
       content: "";
       display:block;
       height:1em;
       width:100%;
       //background-color:darken(#43b6b3, 10%);
     }
}
.accordion dd,
.accordion__panel {
   background-color:#eee;
   font-size:1em;
  float: left;
  margin-top: -10px !important;
   line-height:1.5em;
}
.accordion p {
  padding:1em 2em 1em 2em;
}

.accordion {
    position:relative;

    //background-color:#eee;
}
.accountaccordion{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.accountbottomaccordion{
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.accordionTitle,
.accordion__Heading {
 background-color:#43b6b3;
   text-align:center;
     font-weight:700;
          padding:1em;
          display:block;

          text-decoration:none;
          color:#fff;
          transition:background-color 0.5s ease-in-out;
  border-bottom:1px solid darken(#43b6b3, 5%);
  &:before {
   content: "^";
   font-size:1.5em;
   line-height:0.5em;
   float:left;
    margin: 10px;
   transition: transform 0.3s ease-in-out;
  }
  &:hover,  &:active,  &:focus {
    background-color:darken(#43b6b3, 10%);
    color: white !important;
    text-decoration: none;
  }

}
.accordionTitleActive,
.accordionTitle.is-expanded {
   background-color:darken(#43b6b3, 10%);
    &:before {

      transform: rotate(-180deg);
      border: 1px solid #fff;
      height: 18px;
      width: 18px;
      padding: 5px;
      display: table;
      border-radius: 50%;
    }
}
.accordionItem {
    height:auto;
    overflow:hidden;
    //SHAME: magic number to allow the accordion to animate

     max-height:50em;
    transition:max-height 1s;


    @media screen and (min-width:48em) {
         max-height:15em;
        transition:max-height 0.5s

    }


}

.accordionItem.is-collapsed {
    max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1;
}
.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform:scale(1);
     }
    100% {
          opacity:0;
           transform:scale(0.9) rotateX(-60deg);
       }
}

//----------------------------------------------ENDS------------------------------------


/* -------------- PORTAL ------------------ */
#bs-hide {
    display: none;
}



/* Chowdary */
.bg-brandcolor4{background: lightslategrey;}
.bs-white-space{white-space: nowrap;}
.bs-table-auto {
    table-layout : auto !important;
}
.brandcolor11{color: #3e4349;}
  .brandcolor12{color: #8e8e8e;}


/* Chowdary - coming soon starts */
 .coming-soon{ border: 2px solid rgba(0, 0, 0, 0.199);padding: 20px 0px;border-radius: 30px;}
  .coming-soon p{
    margin-top: -117px;
    background: #FFF;
    padding: 6px 5px;
    margin: 0px auto;
    width: 350px;
    margin-top: -37px;
}
  .coming-soon .form-inline{align-items: center;justify-content: center;padding: 20px 0px 10px 0px; }
  /* Chowdary - coming soon ends */

/* hilight span content to edit addres page */
.hilight{
	border-bottom:2px solid black;
}



/* leave an enquiry */
.leave-enquiry button{
    padding: 5px 30px;
}

  .float-label-field {
    border: none;
    outline: none;
    position: relative;
    margin: 0 0 20px 0;
    padding:0px 10px;
    box-sizing: border-box;
    border: solid 1px rgba(0, 0, 0, 0.253);
  }

  .float-label-field input {
    border: none;
    outline: none;
    padding: 5px 5px 8px 0px;
    width: 100%;
    font-size: 18px;

  }  .float-label-field select , .float-label-field textarea {
    border: none;
    outline: none;
    padding: 5px 5px 8px 0px;
    width: 100%;
    font-size: 18px;

  }
  .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }


  .float-label-field label {
    position: absolute;
    font-size: 14px;
    z-index: 9;
    background: #FFF;
    padding: 0px 15px;
    margin-top: -14px;

  }

  .float-label-field  ~ label:focus {
    outline: none;
    background: #ff4a56;
    color: white;
    margin-top: 30px;
  }
  .bs-multiple-select{position: relative;margin-bottom:20px;}
  .bs-multiple-select label{
    z-index: 99;
    position: absolute;
    top: -22px;
    background: #FFF;
    left: 15px;
    padding: 5px 10px;
  }
  .drop.open  label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
  }


// .form-control{
//     height: calc(1.5em + 0.75rem + 2px) !important;
// }


/* Profile pages starts */
.bs-banks table th{font-family: 'Lato-Bold';font-size: 14px; text-align: center;background: #d5dbe2;}
.bs-banks table td{font-family: 'Lato-Regular';text-align: center;}
/* Profile pages ends */


.b2b-login-main{
    background-image:linear-gradient(#dee9fc, #fff);
    padding:30px 0px;
    .b2b-login-under{
        margin:auto;
        display:table;
        img{
            height:250px;
        }
        .b2b-login-h2{
            text-align:center;
            font-size:20px;
            font-family: Lato-Black;
            font-weight:bold;
            color:#131921;
            margin: 40px 0px 5px 0px;
        }
        .b2b-login-h3{
            text-align:center;
            font-size:15px;
            font-family: Lato-Light;
            font-weight:bold;
            color:#131921;
        }
        .business-login-btn{
            font-size:18px;
            font-family: Lato-Bold;
            color:#fff;
            margin: 20px auto;
            display:table;
            background-color: #1d4da0;
            padding:10px 20px;
        }
        .create-business-account{
            color:#1d4da0;
            font-size:16px;
            font-family: Lato-Bold;
            margin: auto;
            display: table;
            text-decoration:underline;
        }
        .create-business-account:hover{
            color:#1d4da0;
            text-decoration:underline;
        }
    }
}


/* Report-invoice: TODO:remve - styles didnt work
.bs-report-bank-details td{
    padding: 5px !important;
}
.boldTag{
    font-weight: bold !important;
}
.zero-number{
    position: relative;
}
.zero-number img{
    position: absolute;
    height: 30px;
    top: 23px;
    left: -5px;
}*/

body{
    font-family: Lato-Regular !important;
}
.order-number{
    span{
        font-family: 'Lato-Regular';
        font-size: 30px;
    }
    em{
        font-family: 'Lato-Bold';
        font-size: 30px;
    }
}
.remove-mar-bot{
    margin-bottom:0px !important;
}
.o_standard_footer {
    position: absolute;
    margin-top: 0px !important;
    left: 0;
    right: 0;
    bottom: 0;
    .list-inline-item {
        white-space: nowrap;
    }
}
.buttons-quote{
    .col-sm-auto{
        padding-left:5px;
        padding-right:5px;
    }
}
.order-rfq-btns{
    .col-sm-auto{
        width: -webkit-fill-available !important;
        a{
            width:100%;
        }
    }
}
.modal-add-variant{
    height:210px;
}

/* build header start */
.build-header{
    padding: 20px 90px 10px 90px;
}
.build-logo{
    position:relative;
}
.build-catlog{
    margin-top:20px;
    cursor:pointer;
    .fa-bars{
        color: #fff;
        font-size: 25px;
        float: left;
    }
    h5{
        color: #fff;
        font-size: 16px;
        font-family: Lato-Bold;
        float: left;
        margin-left: 10px;
        margin-top: 2px;
    }
}
.build-buy{
    color: #04b5b3;
    font-size: 14px;
    font-family: Lato-Italic;
}
.build-header-list{
    font-family: Lato-Medium;
    color: #6785ae;
    font-size: 14px;
    li{
        float:left;
    }
    li a{
        padding: 5px 15px;
        color: #6785ae;
    }
    li a:hover{
        text-decoration:none;
        color:#04b5b3;
    }
}
.build-search-bar{
    margin:0px 20px;
    width:100%;
}
.search_product{
    padding: 0.5rem !important;
}
.cart-text{
    font-family: Lato-Black;
    text-transform: uppercase;
    font-size: 14px;
    color: #6785ae;
}
.cart-text:hover{
    text-decoration:none;
    color: #6785ae;
}
.login-logout-dropdown{
    padding-left:0px;
}
.enq-btn{
    margin-right: 20px;
    a{
        font-family: Lato-Black;
        font-size: 15px;
        background-color: #f3b100;
        color: #fff;
        border-color: #f3b100;
        letter-spacing: 1px;
        padding-left: 20px;
        padding-right: 20px;
    }
    a:hover, a:active, a:focus{
        background-color:#04b5b3;
        text-decoration : none;
        color:#fff;
        border-color: #4caf50;
    }
}
.wts-btn{
    a{
        font-family: Lato-Black;
        font-size: 15px;
        background-color: #4caf50;
        border-color: #4caf50;
        color: #fff;
        letter-spacing: 1px;
        padding-left: 20px;
        padding-right: 20px;
    }
    a:hover, a:active, a:focus{
        background-color:#04b5b3;
        text-decoration : none;
        color:#fff;
        border-color: #4caf50;
    }
}
.build-enq-btns{
    margin-top : 10px;
}
.display-flex-3{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.header-bar-right:nth-child(1) {
  margin-left: 0px !important;
}
.header-bar-right{
    margin-left: 20px !important;
}
.img-left-cont-stuff{
    div{
        img{
            margin-left:0px !important;
        }
    }
}
.catalouge-main{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99999;
    display:none;
    .catalouge-menu{
        width: 320px;
        background-color: #fff;
        height: 100%;
        overflow-x: hidden;
        .cat-header{
            padding: 20px 12px;
            color: #fff;
            .cat-header-heading{
                margin: 0px;
                font-size: 17px;
                font-family: Lato-Bold;
            }
            .cat-close-mark{
                float: right;
                font-size: 21px;
                margin-top: 3px;
                cursor:pointer;
            }
        }
    }
}
.cat-menu-block{
    .cat-menu{
        padding: 12px;
        cursor:pointer;
        border-bottom: 1px solid #e5e5e5;
        .cat-menu-div{
            height: 40px;
            float: left;
            border: 1px solid #eee;
            border-radius: 4px;
        }
        .cat-menu-img{
            height: 35px;
        }
        .cat-menu-heading{
            font-family: Lato-bold;
            font-size: 16px;
            color: #174a85;
            margin-top: 8px;
            margin-left: 10px;
        }
        .forward-icon{
            color: #c8cfd7;
            margin-top: 14px;
        }
    }
}
.cat-menu-under{
    display:none;
}
.back-to-menu{
    color: #000 !important;
    font-size: 16px !important;
}
.mobile-inst-wtp{
    padding: 0px 10px 15px 10px;
}
.bg-1{
    background-color: #052141;
}
.bg-2{
    background-color: rgb(50, 4, 79);
}
.bg-3{
    background-color: rgb(36, 47, 47);
}
.bg-change {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 100px;
    border: 1px solid #04b5b3;
    .bg-change-1{
        width: 100%;
        height: 9px;
        cursor: pointer;
    }
    .bg-change-2{
        width: 100%;
        height: 9px;
        cursor: pointer;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
    }
}
/* build header ends */

/* build orders start */
.n-my-orders{
    padding: 30px 90px;
    #mainBody{
        overflow: hidden;
    }
    #bodyContent{
        border-bottom: 2px solid #d5dbe2;
        padding-bottom: 0px;
    }
    .n-or-heading{
        font-family: 'Lato-Bold';
        font-size: 24px;
        color: #000;
        position: relative;
        top: 10px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs li.active .nav-link{
        color: #0868d8;
        background-color: #fff;
        border-bottom: 2px solid #0868d8!important;
    }
    .nav-tabs{
        li {
            a{
                padding:10px 20px;
                background: none !important;
                border: none !important;
            }
        }
    }
    .date-filters{
        margin:0px;
        padding: 25px 0px 0px 0px;
    }
    .select-filter{
        -webkit-appearance: menulist!important;
        -moz-appearance: menulist!important;
        -ms-appearance: menulist!important;
        -o-appearance: menulist!important;
        appearance: menulist!important;
    }
    .or-filter{
        color: #8a8a8a;
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
    }
    .filter-by{
        font-family: 'Lato-bold';
        font-size: 16px;
        color: #000;
        margin-top: 8px;
    }
    .invoice-search{
        position: absolute;
        right: 0;
        padding: 12px;
        color: #c0c0c0;
        cursor: pointer;
    }
    .search_invoice{
        padding-right:40px;
        margin: 0px;
        height: 40px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 14px;
        line-height: 0;
          &:focus{
		    outline: none;
		  }
		  &:focus ~ .invoice-close,
		  &:valid ~ .invoice-close {
		    display: block;
		  }
    }
    .acc-table{
        margin:0px;
    }
    .acc-table thead th{
        font-family: 'Lato-Bold';
        font-size: 14px;
        color: #3e4349;
    }
    .acc-table thead th{
        background-color: #d5dbe2;
        border: none !important;
    }
    .card-body-th{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #d5dbe2 !important;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .table-tr-td{
        margin:0px !important;
        tbody{
            tr{
                td{
                    border-bottom: none !important;
                    font-size: 12px;
                    color: #3e4349;
                    font-family: Lato-Bold;
                }
            }
        }

    }
    .due{
        text-transform: uppercase;
        color: #f01717 !important;
        border: 1px solid #f01717;
        border-radius: 3px;
        padding: 2px 5px;
        font-family: Lato-Bold;
        position: relative;
        bottom: 8px;
    }
    .track{
        text-transform: uppercase;
        color: #0552df !important;
        border: 1px solid #0552df;
        border-radius: 3px;
        padding: 2px 5px;
        font-family: Lato-Bold;
    }
    .month-names{
        h5{
            font-family: 'Lato-Bold';
            font-size: 14px;
            color: #000;
        }
    }
    .month-names:hover{
        text-decoration:none;
    }
    .fa-right{
        margin-right: 10px;
        color: #1d73d9;
        font-weight: bold;
    }
    .accordion{
        .card{
            border-radius:0px;
            .card-header{
                background-color: #f4f6f8;
            }
        }
    }
    .accordion{
        .active{
            .card-header{
                background-color: #e6eff8;
            }
        }
    }
}
/* build orders ends */

/* click upload start */
.container-main-upload{
    padding: 0px 200px;
    .p2-click-upload{
        .heading{
            color: #000000;
            font-family: Lato-Bold;
            font-size:21px;
        }
    }
    .active-upload{
        border: 2px solid #4bbe18;
    }
    .upload-data{
        background-color: #e9fcf9;
        border-radius: 10px;
        padding: 20px;
        cursor:pointer;
        .upload-section{
            img{
                width: 40px;
                height: 40px;
                margin-right: 20px;
            }
        }
        .upload-section-cont{
            h4{
                font-size: 16px;
                font-family: Lato-Black;
                color: #000;
                margin-bottom: 3px;
            }
            p{
                font-size: 14px;
                font-family: Lato-Medium;
                color: #666666;
                margin-bottom: 0px;
            }
        }
    }
}
.btn-enq-submit{
    margin: auto;
    display: table;
    padding: 7px 50px;
    font-family: Lato-Black;
    font-size: 15px;
    color: #fff;
}
.btn-enq-submit:hover{
    margin: auto;
    display: table;
    padding: 7px 50px;
    font-family: Lato-Black;
    font-size: 15px;
    color: #fff;
}
.upload-show-section{
    border: 2px solid #efefef;
    border-radius: 10px;
    .upl-head-sec{
        border-bottom: 1px solid #efefef;
        padding: 10px;
        h2{
            color: #3067a5;
            font-family: Lato-Bold;
            font-size: 16px;
            margin-bottom: 0px;
        }
    }
    .upl-body-sec{
        padding: 10px;
        border-bottom: 1px solid #efefef;
        .mar-bot-0{
            margin-bottom:0px;
        }
        .enq-input-text{
            font-family: 'Lato-Regular';
            font-size: 15px;
            color: #000;
        }
        .left-cont-upl{
            img{
                width: 50px;
                height: 50px;
                border: 1px solid #efefef;
                border-radius: 5px;
                padding: 5px;
                float: left;
                margin-right: 15px;
            }
            h4{
                font-family: Lato-Regular;
                font-size: 15px;
                color: #000;
                margin-bottom: 0px;
                float: left;
                margin-top: 13px;
            }
        }
        .right-cont-upl{
            h4{
                font-family: Lato-Regular;
                font-size: 15px;
                color: #000;
                margin-bottom: 0px;
                float: left;
                margin-top: 13px;
                margin-right: 20px;
            }
            img{
                width: 30px;
                height: 30px;
                padding: 5px;
                float: left;
                cursor: pointer;
                margin-top: 8px;
            }
        }
    }
}
/* click upload ends */