.logintext {
	color: black;
	background-color: #e8ecf1;
	text-align: center;
	width: 150px;
}
.btn-color {
	background-color: #1d4da0;
	color: #fff;
	font-size: 16px;
	font-family: Lato-Bold;
	line-height: 0;
	padding: 22px 0px;
}
.otplink {
    text-transform: uppercase;
    background-color: #04b5b3;
}
.btn {
	&:hover {
		color: white !important;
		background-color: #1d4da0;
	}
	&:focus {
		color: white !important;
		background-color: #1d4da0;
	}
	&:active {
		color: white !important;
		background-color: #1d4da0;
	}
}
.signupform {
	width: 75% !important;
	float: left !important;
	margin-right: 4% !important;
	font-size: 16px !important;
	font-family: Lato-Bold !important;
	color: #42474f !important;
}
.otpbutton {
	color: white !important;
	font-family: Lato-Black;
	font-size: 16px;
	border-radius: 2px;
	padding: 21px 20px;
	a {
		&:hover {
			text-decoration: none;
		}
	}
}
.check-label {
	padding-right: 5px;
}
.input_wrapper {
	position: relative;
}
.plastic_select {
	font-size: 16px;
	line-height: normal;
	padding: .75rem;
	border: 1px solid #C5C5C5;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	color: #838992;
	width: 100%;
	max-width: 100%;
	font-family: Lato-Regular;
	margin: 0 0 .5rem;
	-webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: none;
	height: auto;
	&:active {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
	&:focus {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
}
input[type=url] {
	font-size: 16px;
	line-height: normal;
	padding: .75rem;
	border: 1px solid #C5C5C5;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	color: #838992;
	width: 100%;
	max-width: 100%;
	font-family: Lato-Regular;
	margin: 0 0 .5rem;
	-webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: none;
	height: auto;
	&:active {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
	&:focus {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
}
input[type=text] {
	font-size: 16px;
	line-height: normal;
	padding: .75rem;
	border: 1px solid #C5C5C5;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	color: #838992;
	width: 100%;
	max-width: 100%;
	font-family: Lato-Regular;
	margin: 0 0 .5rem;
	-webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: none;
	height: auto;
	&:active {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
	&:focus {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
}
input[type=tel] {
	font-size: 16px;
	line-height: normal;
	padding: .75rem;
	border: 1px solid #C5C5C5;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	color: #838992;
	width: 100%;
	max-width: 100%;
	font-family: Lato-Regular;
	margin: 0 0 .5rem;
	-webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: none;
	height: auto;
}
input[type=number] {
	font-size: 16px;
	line-height: normal;
	padding: .75rem;
	border: 1px solid #C5C5C5;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	color: #838992;
	width: 100%;
	max-width: 100%;
	font-family: Lato-Regular;
	margin: 0 0 .5rem;
	-webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: none;
	height: auto;
	&:active {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
	&:focus {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
}
input[type=email] {
	font-size: 16px;
	line-height: normal;
	padding: .75rem;
	border: 1px solid #C5C5C5;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	color: #838992;
	width: 100%;
	max-width: 100%;
	font-family: Lato-Regular;
	margin: 0 0 .5rem;
	-webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: none;
	height: auto;
	&:active {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
	&:focus {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
}
input[type=password] {
	font-size: 16px;
	line-height: normal;
	padding: .75rem;
	border: 1px solid #C5C5C5;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	color: #838992;
	width: 100%;
	max-width: 100%;
	font-family: Lato-Regular;
	margin: 0 0 .5rem;
	-webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: none;
	height: auto;
	&:active {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
	&:focus {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
}
select {
	font-size: 16px;
	line-height: normal;
	padding: .75rem;
	border: 1px solid #C5C5C5;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	color: #838992;
	width: 100%;
	max-width: 100%;
	font-family: Lato-Regular;
	margin: 0 0 .5rem;
	-webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: none;
	height: auto;
	&:active {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
	&:focus {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
}
textarea {
	font-size: 16px;
	line-height: normal;
	padding: .75rem;
	border: 1px solid #C5C5C5;
	border-radius: .25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	color: #838992;
	width: 100%;
	max-width: 100%;
	font-family: Lato-Regular;
	margin: 0 0 .5rem;
	-webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: none;
	height: auto;
	&:active {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
	&:focus {
		border-color: darkgrey;
		outline-offset: 0;
		outline: 0;
	}
}
.no_touch {
	.plastic_select {
		&:hover {
			border-color: darkgrey;
		}
	}
	input {
		&:hover {
			border-color: darkgrey;
		}
	}
	select {
		&:hover {
			border-color: darkgrey;
		}
	}
	textarea {
		&:hover {
			border-color: darkgrey;
		}
	}
}
.focus {
	border-color: darkgrey;
	outline-offset: 0;
	outline: 0;
}
.split_input {
	display: table;
	border-spacing: 0;
}
.split_input_item {
	display: table-cell;
	border: 1px solid #9e9ea6;
	&:not(:first-child) {
		border-left: none;
	}
	input {
		text-align: center;
		font-size: 24px;
		border: none;
		background: 0 0;
		color: #42474f;
		font-family: Lato-Light;
		&:active {
			box-shadow: none;
		}
		&:focus {
			box-shadow: none;
		}
		&:hover {
			box-shadow: none;
		}
	}
}
.split_input_item.focused {
	border: 1px double darkgrey;
}
.fs_split {
	position: absolute;
	overflow: hidden;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #e8e8e8;
	-webkit-transition: background-color .2s ease-out 0s;
	-moz-transition: background-color .2s ease-out 0s;
	transition: background-color .2s ease-out 0s;
	h1 {
		font-size: 2.625rem;
		line-height: 3rem;
		font-weight: 300;
		margin-bottom: 2rem;
	}
	label {
		margin-bottom: .5rem;
	}
	.desc {
		font-size: 1.25rem;
		color: #9e9ea6;
		margin-bottom: 2rem;
	}
	.email {
		color: #555459;
		font-weight: 700;
	}
	.header_error_message {
		margin: 0 11%;
		padding: 1rem 2rem;
		background: #fff1e1;
		border: none;
		border-left: .5rem solid #ffa940;
		border-radius: .25rem;
		h3 {
			margin: 0;
		}
	}
	.error_message {
		display: none;
		font-weight: 700;
		color: #ffa940;
	}
	.error {
		input {
			border: 1px solid #ffa940;
			background: #fff1e1;
			&:focus {
				border-color: darkgrey;
			}
		}
		textarea {
			border: 1px solid #ffa940;
			background: #fff1e1;
			&:focus {
				border-color: darkgrey;
			}
		}
		.error_message {
			display: inline;
		}
	}
}
.confirmation_code_span_cell {
	display: table-cell;
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
	padding: 0 .5rem;
	width: 2rem;
}
.confirmation_code_state_message {
	position: absolute;
	width: 100%;
	opacity: 0;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	transition: opacity .2s;
	ts-icon {
		&:before {
			font-size: 2.5rem;
		}
	}
	svg.ts_icon_spinner {
		height: 2rem;
		width: 2rem;
	}
}
.confirmation_code_state_message.error {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 2rem;
	color: #ffa940;
}
.confirmation_code_state_message.processing {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 2rem;
	color: #3aa3e3;
}
.confirmation_code_state_message.ratelimited {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 2rem;
	color: #ffa940;
}
.confirmation_code_checker {
	position: relative;
	height: 12rem;
	text-align: center;
}
.confirmation_code_checker[data-state=unchecked] {
	.confirmation_code_state_message.unchecked {
		opacity: 1;
	}
}
.confirmation_code_checker[data-state=error] {
	.confirmation_code_state_message.error {
		opacity: 1;
	}
}
.confirmation_code_checker[data-state=processing] {
	.confirmation_code_state_message.processing {
		opacity: 1;
	}
}
.confirmation_code_checker[data-state=ratelimited] {
	.confirmation_code_state_message.ratelimited {
		opacity: 1;
	}
}
.form-control {
	&:focus {
		box-shadow: none !important;
	}
}
.verifylabel {
	font-family: Lato-Bold;
	font-size: 16px;
	color: #000;
}
.verifylabel-text {
	font-family: Lato-Regular;
	font-size: 14px;
	color: #555;
}
.getotp {
	color: white !important;
	&:hover {
		color: white !important;
	}
	&:focus {
		color: white !important;
	}
	&:active {
		color: white !important;
	}
}
.continuebtn {
	width: 50%;
}
.checklabel {
	margin-right: 10px !important;
}
.selectRole {
	.form-group {
		label {
			font-family: Lato-Bold;
			font-size: 16px;
			color: #333;
		}
	}
}
.inputFonts {
	.row {
		.form-group {
			label {
				font-family: Lato-Bold;
				font-size: 14px;
				color: #42474f;
			}
			input {
				&::placeholder {
					color: #bfbfbf;
					font-family: Lato-Regular;
					font-size: 16px;
				}
				&:-ms-input-placeholder {
					color: #bfbfbf;
					font-family: Lato-Regular;
					font-size: 16px;
				}
				&::-ms-input-placeholder {
					color: #bfbfbf;
					font-family: Lato-Regular;
					font-size: 16px;
				}
			}
			select {
				&::placeholder {
					color: #bfbfbf;
					font-family: Lato-Regular;
					font-size: 16px;
				}
				&:-ms-input-placeholder {
					color: #bfbfbf;
					font-family: Lato-Regular;
					font-size: 16px;
				}
				&::-ms-input-placeholder {
					color: #bfbfbf;
					font-family: Lato-Regular;
					font-size: 16px;
				}
			}
		}
	}
}
.signup-labels {
	padding-left: 30px;
	padding-right: 30px;
	iframe {
		height: 200px;
		width: 470px;
	}
}
.signup-labels.check-labels {
	font-size: 13px;
}
#emailPhoneSignupError {
	position: relative;
	top: -10px;
}
#pills-tab {
	.nav-item {
		a {
			border-radius: 0px;
			color: #506994;
		}
		&:last-child {
			margin-left: 10px;
		}
		.active {
			color: #282c3f !important;
			font-family: Lato-Regular;
		}
	}
}
.verification-message {
	font-family: Lato-Regular;
	font-size: 14px;
	color: #2c9a24 !important;
}
.input-group-prepend {
	.input-group-text {
		font-size: 16px !important;
		font-family: Lato-Bold !important;
		color: #838383 !important;
	}
}
.verifyInput {
	font-size: 16px !important;
	font-family: Lato-Bold !important;
	color: #838383 !important;
}
.check-labels {
	div {
		label {
			font-family: Lato-Regular !important;
		}
	}
}
.shippingaddress {
	font-family: Lato-Bold;
	font-size: 18px;
	color: #282c3f;
}
.customerlogin .card{width: 100%;display:block;}
/*media queries*/
@media (min-width: 0px) and (max-width: 991px){
.customerlogin .card{width: 90%;}
.customerlogin .pt-5 , .mt-5  .customerlogin{padding-top: 0px !important;margin: 0px !important;}

}
@media (min-width:0px) and (max-width: 419px){
  .customerlogin .card{width: 100%;}
  .customerlogin .logintext{width: 100%;padding: 5px 20px; font-size: 14px;}
  .customerlogin .pt-5 , .mt-5  .customerlogin{padding-top: 0px !important;margin: 0px !important;}
}

/* Additional Finetunes */
#pills-login, .otpForSignup, .verificationCode{
    width:50%;
    margin:auto;
}
.login-view-width{
    width:50%;
    margin:auto;
}
.customerlogin ul{
    list-style: none;
}
.success-msg-otp{
    padding: 5px;
    font-size: 12px;
    margin-top: 10px;
    font-family: 'Lato-Regular';
}
.loading-fa{
    margin-top: -10px;
    left: 5px;
    position: absolute;
}

.loading-action:disabled{
    background-color:#1d4da0 !important;
    padding-left: 30px;
    position: relative;
}

.form-group.required label:after {
    content: "*";
    color: red;
    font-size: 20px;
    position: relative;
    top: 5px;
    left: 1px;
}
.check-labels{
    .col-lg-12{
        .form-group{
            margin-bottom:0px !important;
        }
    }
}
.otpForSignup, .verificationCode{
//     max-width: 300px;
    position: relative;
    margin: 0px auto;
}
input[name="cusrole"] {
  position:relative;
  // top:4px;
}
.loginOTPMain{
	display:none;
}
.loginOTP{
	display:none;
}
.cont-form{
    padding:0px 20px;
}
.cont-map{
    padding:0px 20px;
    position:relative;
    .anchor-map-cont{
        img{
            width: 100%;
            height: 350px;
            border-radius: 5px;
        }
        div{
            position: absolute;
            top: 10px;
            left: 30px;
            background-color: #fff;
            padding: 7px 60px 7px 15px;
            h2{
                color:#000;
                font-family: 'Lato-Bold';
                font-size:16px;
                margin:0px;
            }
            p{
                color:#1c50ba;
                font-family: 'Lato-Regular';
                font-size:14px;
                margin:0px;
            }
        }
    }
}
.connectWithUs{
    float:left;
    p{
        margin-bottom:0px;
        color:#fff;
        font-family: "Lato-Regular";
        font-size:14px;
        margin-right: 20px;
        margin-top: 5px;
    }
}
.socialicons{
    margin-top: 10px;
}
.socialIcons-images{
    float:right;
}
.login-left-bg{
    background-image: linear-gradient(#ceeaea, #f1f8f8);
    height: auto;
    padding:10px;
    .back-to-home{
        a:hover{
            text-decoration: none !important;
        }
        img{
            float: left;
            margin-right: 8px;
            height: 20px;
            width: 20px;
        }
        p{
            font-size: 16px;
            color: #1d4da0;
            font-family: Lato-bold;
        }
    }
    .login-banner{
        margin: 20px 0px 30px 0px;
        h2{
            font-family: Lato-Black;
            font-size: 21px;
            color: #010101;
            text-align:center;
        }
        .login-banner{
            margin: 20px auto;
            display: table;
            width: 75%;
            border: 2px solid #fff;
            border-radius: 10px;
        }
    }
    .login-footer{
        h4{
            text-align: center;
            color: #1d4da0;
            font-size: 18px;
            font-family: 'Lato-Black';
        }
        ul{
            text-align: center;
            padding: 0px;
            width: 75%;
            margin: 20px auto 0px auto;
            li::before{
                content: '•';
            }
            li{
                display:inline;
                font-family: Lato-Bold;
                color: #444e5c;
                font-size: 14px;
                list-style-type:disc;
                a{
                    padding: 5px 10px;
                }
            }
        }
        .login-footer-image{
            width: 100%;
        }
        .socialIcons-images-footer{
            a{
                img{
                    height:30px;
                }
            }
        }
        .whastupcall-footer{
            position: relative;
            top: 10px;
        }
    }
}
.login-right-bg{
    padding:10px;
    height:auto;
    .create-an-account-link{
        a:hover{
            text-decoration: none !important;
        }
        a{
            p{
                font-size: 16px;
                color: #1d4da0;
                font-family: Lato-bold;
                cursor: pointer;
                img{
                    margin-left: 8px;
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}
.login-body{
    padding-left: 0px;
    padding-right: 0px;
    .oe_login_form, .oe_signup_form, .oe_reset_password_form{
        max-width: inherit;
    }
    .input-group > .form-control:not(:first-child){
        border-radius: 0.25rem;
    }
    .forgot-pwd-link{
        margin: 15px 0px 0px 0px;
        a{
            font-family: 'Lato-Bold';
            font-size: 16px;
            color: #1d4da0;
        }
        a:hover{
            text-decoration:none;
        }
    }
}
// .login-logo{
//     margin-top:30px;
// }
.login-logo-header{
    padding-top:20px;
    h4{
        font-family: 'Lato-Regular';
        color: #444444;
        font-size: 13px;
    }
    h2{
        font-family: 'Lato-Bold';
        color: #444444;
        font-size: 29px;
    }
}
.not-reg{
    font-family: 'Lato-Bold';
    color: #444444 !important;
    font-size: 18px;
    margin-top: 30px;
    text-align:center;
    a{
        color: #1d4da0 !important;
        text-decoration: underline !important;
        cursor:pointer;
    }
}
.add-signup-width{
    width:60% !important;
}
body.o_connected_user{
    padding-top:0px !important;
}
#oe_main_menu_navbar{
    position:relative !important;
}
.btn-custom-getotp{
    width: 50%;
    padding: 18px 0px !important;
    margin-top: 42px;
}
.btn-custom-signup{
    width: auto;
    margin: auto;
    padding: 22px 70px !important;
}
#countryCode, #countryCodeEmail, #countryCodeVerify, #countryCodeEmailPhone{
    position: absolute;
    right: 0;
    width: 60px;
    top: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#countryCode, #countryCodeEmail, #countryCodeVerify, #countryCodeEmailPhone{
    position: absolute;
    width: 70px !important;
    right: 0;
    top: 0;
    .chosen-single{
        height: 45px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        outline: none;
        box-shadow: none !important;
        background: #fff !important;
        span{
            font-family: 'Lato-Regular'
        }
    }
    .chosen-drop{
        width: 150px;
    }
}
#countryCodeVerify, #countryCodeEmailPhone{
    z-index: 9999;
}
#no_country_field{
    display:none;
}
.js_country_dropdown{
    width:50%;
}
#mobile{
    width:100%;
    height: 45px;
}
#btn_vat_code{
    height: 45px;
    border-radius: 0px;
    color: #1d4da0 !important;
    border-color: darkgrey;
}
#btn_vat_code {
	&:hover {
		color: #fff !important;
        background-color: #1d4da0 !important;
	}
	&:focus {
		color: #fff !important;
        background-color: #1d4da0 !important;
	}
	&:active {
		color: #fff !important;
        background-color: #1d4da0 !important;
	}
}
#dynamic-content{
    a{
        img{
            margin: 40px auto 0px auto;
            display: table;
        }
    }
}